.bg {
  background-image: linear-gradient(to bottom, #3e275378, #3e2753),
    url('/public/images/med2.jpeg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.member-shadow {
  box-shadow: 0px 2px 15px rgba(18, 56, 101, 0.08);
}

.img-icons {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
  background-color: #3e27537e;
  height: 40px;
  opacity: 0;
  transition: all ease-in-out 0.3s;
}

.img-parent {
  position: relative;
}

.member-shadow:hover .img-icons {
  opacity: 1;
}
